<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8s">
    <title>Title</title>
</head>
<body style="background-color:lightgray">
<h1 style="text-align: center;"><em><span style="color: #3366ff;">O que estudar?</span></em></h1>
<p><img style="display: block; margin-left: auto; margin-right: auto;" src="https://i.pinimg.com/564x/62/59/99/6259999b956fa17d6efbcbbe9f35d2dc.jpg" alt="" width="589" height="391" /></p>
<p style="text-align: center;"><em>1-Matem&aacute;tica&nbsp;&nbsp;</em></p>
<p style="text-align: center;"><em>2-F&iacute;sica&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</em></p>
<p style="text-align: center;"><em>&nbsp;3-Biologia&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</em></p>
<p style="text-align: center;"><em>&nbsp;4-Sociologia&nbsp; &nbsp; &nbsp;&nbsp;</em></p>
<p style="text-align: center;"><em>5-Filosofia&nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</em></p>
<p style="text-align: center;"><em>6-Hist&oacute;ria&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</em></p>
<p style="text-align: center;"><em>7-Geografia&nbsp; &nbsp; &nbsp; &nbsp;</em></p>
<p style="text-align: center;"><em>8-Literatura&nbsp; &nbsp; &nbsp; &nbsp;</em></p>
<p>&nbsp;</p>
</body>
</html>
